{% block content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/"><i class="fa-solid fa-ranking-star"></i> IMPRESS<span id="color">HUB</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="#pitches">Health</a>
                <a class="nav-link" href="#pitches">Pick-uph</a>
                <a class="nav-link" href="#pitches">Personal-Growth</a>
                <a class="nav-link" href="#pitches">Mum-Gigs</a>
                <a class="nav-link" href="#pitches">Business-Sumit</a>
                
            </div>

            <div class="navbar-nav ">
                <a href="/create_new"><button type="button" class="btn"id = "create">Create Pitch</button></a></li></a>
                <!-- navbar-right can make it to the right -->
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('main.profile', uname = current_user.username)}}"> Profile</a></li>
                <li><a href="{{url_for('auth.logout')}}"> <button type="button" class="btn"id = "logout-btn">Logout</button></a></li>
                {% else %}
                <li><a href="{{url_for('auth.login')}}"> <button type="button" class="btn ms-auto" id="login-btn">Login</button></a></li>
                {%endif%} 
            </div>
        </div>
    </div>
</nav>

{%endblock%}